{% extends'base.html' %}

{% block content %}

    <h2>Editar</h2>
        <form action="">
        <div class="form_input">
            <label>Nome:</label>
            <input type="text" placeholder="Digite seu nome" value="Gabriel Farias Turnes"/>
        </div>
        <div class="form_input">
            <label>Telefone:</label>
            <input type="text" placeholder="Digite seu telefone" value=""/>
        </div>
        <div class="form_input">
            <input type="submit" value="Editar" />
        </div>
        <div class="form_input">
            <input type="submit" value="Excluir" />
        </div>
    </form>

{%  endblock %}